{% extends "layout.html" %}
{% load static %}
{% block body %} 


<h2 class="intro"><span class="green">Welcome </span><span class="white">To </span><span class="green">Nigeria's </span><span class="green">Crime </span><span class="white">Alert </span><span class="green">Website</span> </h2>

<div class="container-fluid">
 <div class="alerts">
    <h6>To post a new alert, <a href="{% url 'new_alert' %}">click here</a></h6>
    <br>
    <h6>To view all alerts, <a href="{% url 'all_alerts' %}">click here</a></h6>
 </div>  

 <div class="image">
  <img src="{% static 'alert.jpg' %}">
  <img src="{% static 'flag.jpg' %}">
</div>

 
 <div class="about">
    <h2>About Crime Alert</h2>
    <div id="about_content">
        <p>It is our believe that combatting crime in our community is a collective resposibility.</p>
        <p>Crime is systemic and should be tackled using a systemic approach where everyone plays an</p>
        <p>active role in fighting crime.</p>
        <p>This website gives all citizens the privilege to report crimes in their vicinity</p>
    </div>
 </div>

 <div class="crimeicon">
  <img src="{% static 'crime.jpg' %}">
 </div>

    <div class="howto">
        <h2>How To Use</h2>
        <div>
        <p>Our website is very easy to use. Users are required to <a href="{% url 'new_alert' %}">make a new post</a> to</p>
        <p>raise an alert. They new alert page prompots users for the crime details including 
        <p>latitudes and longitudes. Users can also view past and new crime alerts <a href="{% url 'all_alerts' %}">here</a></p>
        <p>Included in the footer section are contact information users can take advantage of</p>
        </div>
    </div>

    <div class="data">
        <h3>Your Location Matters</h3>
        <div>
            <p>We use crime locations to collect data that helps understand how crimes work</p>
            <p>Crime data are stored in our databse to keep track of what crimes are prevalent</p>
            <p>in a particular location This helps law enforcement offices to tackle crimes more</p>
            <p>effectively.</p>
        </div>
    </div>
</div>

   
  
  

{% endblock %}